<div id="musicMain" ng-controller="HomeController" class="col-md-12 col-sm-12">
  <div id="main">
  <!-- <div id="bg"></div> -->
    <div id="aboutTitle" class="col-md-12 col-sm-12">
      <h1>About the Band</h1>
    </div>
    <div id="mainBody" class="col-md-12 col-sm-12">
        <div class="col-md-6 col-sm-6">
          <img id="aboutImg" src="../img/about.jpg">
        </div>
        <div id="about" class="col-md-4 col-sm-4">
          Costello is a psych/blues rock group from Norman, OK. In fall of 2016 they reunited with engineers Sam Welchel and Chad Copelin of Blackwatch Studios to record their sophomore album, “Conscious Trip.” The band consists of guitarist, vocalist and lyricist Clare Costello, bassist Felix Rodriguez and Flaming Lips drummer Matt Duckworth. The same crew, with a different drummer (Jason Scott) recorded their debut album “Manifest” in summer of 2015. Dan Millice of Engine Room audio mastered both albums.

          </p><br>
<!--           <p>
            Clare Costello - vocals and guitar<br>
            Felix Rodriguez - bass<br>
            Jason Scott - drums
          </p> -->
        </div>
      <div class="col-md-2 col-sm-2">
      </div>
    </div>

  </div>


  <div id="footer" class="col-md-12 navbar navbar-inverse navbar-fixed-bottom">
    <div class="col-md-3 col-sm-3 col-xs-3" id="footerLeft">
      <a style="color:#323232;" href="http://www.rileyjoseph.co">
        Website by Riley Joseph
      </a>
    </div>
    <div id="copywrite" style="color:#bfbfbf" class="col-md-6 col-sm-6 col-xs-6">
      <center>Copyright &copy; Costello 2015</center>
    </div>
    <div class="col-md-3">
      <a href="http://www.facebook.com/costellobandok"><i class="fa fa-facebook-square fa-2x"></i></a>
      <a href="https://instagram.com/costellotheband"><i class="fa fa-instagram fa-2x"></i></a>
      <a href="http://www.twitter.com/costellobandok"><i class="fa fa-twitter-square fa-2x"></i></a>
      <!-- <a href="#"><i class="fa fa-youtube-square fa-2x"></i></a> -->
      <!-- <a href="#"><i class="fa fa-spotify fa-2x"></i></a> -->
    </div>
  </div>


</div>