<div id="contactMain" ng-controller="HomeController" class="col-md-12 col-sm-12">
  <div id="main">
    <!-- <img src="/img/conscioustrip.png" id="bg" alt=""> -->
        <div id="banner" class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div id="cf" class="container-fluid">
        <div class="navbar-header">
        <div id="navLeft">
          <a href="http://costellobandok.com/#!/main" id="bannerA"><h1 class="bannerText" font-family="Majesti-Banner-Medium">COSTELLO</h1></a>
        </div>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span>
 <span class="icon-bar"></span>
 <span class="icon-bar"></span>
 <span class="icon-bar"></span>
          </button>
        </div>

        <div class="collapse navbar-collapse" id="bannerLinks">
            <ul class="nav navbar-nav navbar-right">
              <li><a class="bannerLinks" href="http://www.costellobandok.bandcamp.com">Bandcamp</a></li>
              <li><a class="bannerLinks" href="http://costellobandok.com/#!/about">About</a></li>
              <li><a class="bannerLinks" style="text-decoration: underline;" href="">Contact</a></li>
              <li><a class="bannerLinks" href="/#!/gallery">Gallery</a></li>
            </ul>
        </div>
        </div>
      </div>
  <div id="sideBarBlack" style="padding-top: 50px;">
    <center>
    <a href="http://www.facebook.com/costellobandok"><i class="fa fa-facebook-square fa-3x"></i></a><br>
    <a href="https://instagram.com/costellotheband"><i class="fa fa-instagram fa-3x"></i></a><br>
    <a href="http://www.twitter.com/costellobandok"><i class="fa fa-twitter-square fa-3x"></i></a><br>
    <!-- <a href="#"><i class="fa fa-youtube-square fa-3x"></i></a><br> -->
    <a href="https://open.spotify.com/artist/4wJW3tvY1lVxNxCh7J5T8Y"><i class="fa fa-spotify fa-3x"></i></a><br>
    <!-- <a href="#"><i class="fa fa-soundcloud fa-3x"></i></a><br> -->
    </center>
  </div>      
  <div class="col-md-12">
    <h1 class="page-title">Contact</h1>
  </div>      
  <div class="col-md-2">
  </div>
  <div class="col-md-8 contact">
      <div class="col-md-6 col-sm-12 contactContentImg">
        <img id="contactImg" src="../img/ccFgarage2.jpg">
      </div>
      <div class="col-md-6 col-sm-12 contactContent">
        <p class="bold">
          Booking: 
        </p>
        <p>costellobandok@gmail.com<br><br>
        </p>
        <h4 class="textRight bold">
          Recording/Production:
        </h4>
        <p class="textRight">
          info@blackwatchstudios.com<br><br>
        </p>
        <p class="bold">
          Social:
        </p>
        <p>
          facebook.com/costellobandok<br>
          instagram.com/costellotheband<br>
          twitter.com/costellobandok<br><br>
        </p>
        <p class="textRight bold">
          Website:
        </p>
        <p class="textRight">
          riley.m.joseph1@gmail.com <br><br>
        </p>
      </div>
    </div>
  </div>
    <div class="col-md-2">
    </div>


  <div id="footer" class="col-md-12 navbar navbar-inverse navbar-fixed-bottom">
    <div class="col-md-3 col-sm-3 col-xs-3" id="footerLeft">
      <a style="color:#323232;" href="http://www.rileyjoseph.co">
        Website by Riley Joseph
      </a>
    </div>
    <div id="copywrite" style="color:#bfbfbf" class="col-md-6 col-sm-6 col-xs-6">
      Copyright &copy; Costello 2015
    </div>
    <div class="col-md-3">
      <a href="http://www.facebook.com/costellobandok"><i class="fa fa-facebook-square fa-2x"></i></a>
      <a href="https://instagram.com/costellotheband"><i class="fa fa-instagram fa-2x"></i></a>
      <a href="http://www.twitter.com/costellobandok"><i class="fa fa-twitter-square fa-2x"></i></a>
      <!-- <a href="#"><i class="fa fa-youtube-square fa-2x"></i></a> -->
      <!-- <a href="#"><i class="fa fa-spotify fa-2x"></i></a> -->
    </div>
  </div>
</div>