<div id="contactMain" ng-controller="HomeController" class="col-md-12 col-sm-12">

  <div id="contactBody" class="col-md-12" style="color:white;">
    <!-- <center><h2 style="color: #bfbfbf">Contact:</h2></center> -->
    <div class="col-md-2">
    </div>
    <div id="contact" class="col-md-8">
      <div class="col-md-6">
        <img id="contactImg" src="../img/ccFgarage2.jpg">
      </div>
      <div id="contactContent" class="col-md-6">
        Booking: <br>
        costellobandok@gmail.com<br><br>
        Recording/Production: <br>
        info@blackwatchstudios.com<br><br>
        Website: <br>
        riley.m.joseph1@gmail.com <br><br>
      </div>
    </div>
    <div class="col-md-2">
    </div>
  </div>
  <div id="footer" class="col-md-12 navbar navbar-inverse navbar-fixed-bottom">
    <div class="col-md-3 col-sm-3 col-xs-3" id="footerLeft">
      <a style="color:#323232;" href="http://www.rileyjoseph.co">
        Website by Riley Joseph
      </a>
    </div>
    <div id="copywrite" style="color:#bfbfbf" class="col-md-6 col-sm-6 col-xs-6">
      Copyright &copy; Costello 2015
    </div>
    <div class="col-md-3">
      <a href="http://www.facebook.com/costellobandok"><i class="fa fa-facebook-square fa-2x"></i></a>
      <a href="https://instagram.com/costellotheband"><i class="fa fa-instagram fa-2x"></i></a>
      <a href="http://www.twitter.com/costellobandok"><i class="fa fa-twitter-square fa-2x"></i></a>
      <!-- <a href="#"><i class="fa fa-youtube-square fa-2x"></i></a> -->
      <!-- <a href="#"><i class="fa fa-spotify fa-2x"></i></a> -->
    </div>
  </div>
</div>
<script type="text/javascript">
  var contactTitle = "Costello Music - Contact Us"
  $window.document.title = "Costello Music - Contact Us";
</script>