<div id="galleryMain" ng-controller="HomeController" class="col-md-12 col-sm-12">
  <div id="main">

  <div id="banner" class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div id="cf" class="container-fluid">
        <div class="navbar-header">
        <div id="navLeft">
          <a href="http://costellobandok.com/#!/main" id="bannerA"><h1 class="bannerText" font-family="Majesti-Banner-Medium">COSTELLO</h1></a>
        </div>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="bannerLinks">
            <ul class="nav navbar-nav navbar-right">
              <li><a class="bannerLinks" href="http://www.costellobandok.bandcamp.com">Bandcamp</a></li>
              <li><a class="bannerLinks" href="/#!/about">About</a></li>
              <li><a class="bannerLinks" href="http://costellobandok.com/#!/contact">Contact</a></li>
              <li><a class="bannerLinks" style="text-decoration: underline;" href="http://costellobandok.com/#!/gallery">Gallery</a></li>
            </ul>
        </div>
        </div>
      </div>
    </div>

  <div id="sideBarBlack" class="sideBarBlack">
    <center>
    <a href="http://www.facebook.com/costellobandok"><i class="fa fa-facebook-square fa-3x"></i></a><br>
    <a href="https://instagram.com/costellotheband"><i class="fa fa-instagram fa-3x"></i></a><br>
    <a href="http://www.twitter.com/costellobandok"><i class="fa fa-twitter-square fa-3x"></i></a><br>
    <!-- <a href="#"><i class="fa fa-youtube-square fa-3x"></i></a><br> -->
    <a href="https://open.spotify.com/artist/4wJW3tvY1lVxNxCh7J5T8Y"><i class="fa fa-spotify fa-3x"></i></a><br>
    <!-- <a href="#"><i class="fa fa-soundcloud fa-3x"></i></a><br> -->
    </center>
  </div>
<h2 class="gallery-title">Gallery</h2>
<!-- Slick Carousel -->
    <div class="col-md-3">
    </div>
    <div class="col-md-6 gallery">

      <div class="slick-carousel slider-for">
        <div><img src="img/slide_1.jpg"></div>
        <div><img src="img/slide_2.jpg"></div>
        <div><img src="img/slide_3.jpg"></div>
        <div><img src="img/slide_4.jpg"></div>
        <div><img src="img/slide_5.jpg"></div>
        <div><img src="img/slide_6.jpg"></div>
        <div><img src="img/slide_7.jpg"></div>
        <div><img src="img/slide_8.jpg"></div>
        <div><img src="img/slide_9.jpg"></div>
        <div><img src="img/slide_10.jpg"></div>
        <div><img src="img/slide_11.jpg"></div>
        <div><img src="img/slide_12.jpg"></div>
        <div><img src="img/slide_13.jpg"></div>
        <div><img src="img/slide_14.jpg"></div>
        <div><img src="img/slide_15.jpg"></div>
        <div><img src="img/slide_16.jpg"></div>
        <div><img src="img/slide_17.jpg"></div>
        <div><img src="img/slide_18.jpg"></div>
      </div>
  </div>
  <div class="col-md-3" id="backgroundSide">
  </div>

  <div class="subGallery cf">
    <div><img src="img/fade1.jpg"></div>
    <div><img src="img/fade2.jpg"></div>
    <div><img src="img/fade3.jpg"></div>
    <div><img src="img/fade6.jpg"></div>
    <div><img src="img/fade7.jpg"></div>
    <div><img src="img/fade4.jpg"></div>
    <div><img src="img/fade5.jpg"></div>
    <div><img src="img/fade8.jpg"></div>
    <div><img src="img/fade9.jpg"></div>
    <div><img src="img/slide_1.jpg"></div>
    <div><img src="img/slide_2.jpg"></div>
    <div><img src="img/slide_3.jpg"></div>
    <div><img src="img/slide_4.jpg"></div>
    <div><img src="img/slide_5.jpg"></div>
    <div><img src="img/slide_6.jpg"></div>
    <div><img src="img/slide_7.jpg"></div>
    <div><img src="img/slide_8.jpg"></div>
    <div><img src="img/slide_9.jpg"></div>
    <div><img src="img/slide_10.jpg"></div>
    <div><img src="img/slide_11.jpg"></div>
    <div><img src="img/slide_12.jpg"></div>
    <div><img src="img/slide_13.jpg"></div>
    <div><img src="img/slide_142.jpg"></div>
    <div><img src="img/slide_152.jpg"></div>
    <div><img src="img/slide_162.jpg"></div>
    <div><img src="img/slide_172.jpg"></div>
    <div class="subGalleryLast"><img src="img/slide_182.jpg"></div>
</div>

<div id="footer" class="col-md-12 navbar navbar-inverse navbar-fixed-bottom">
    <div class="col-md-3 col-sm-3 col-xs-3" id="footerLeft">
      <a style="color:#323232;" href="http://www.rileyjoseph.co">
        Website by Riley Joseph
      </a>
    </div>
    <div id="copywrite" style="color:#bfbfbf" class="col-md-6 col-sm-6 col-xs-6">
      Copyright &copy; Costello 2015
    </div>
    <div class="col-md-3">
      <a href="http://www.facebook.com/costellobandok"><i class="fa fa-facebook-square fa-2x"></i></a>
      <a href="https://instagram.com/costellotheband"><i class="fa fa-instagram fa-2x"></i></a>
      <a href="http://www.twitter.com/costellobandok"><i class="fa fa-twitter-square fa-2x"></i></a>
      <!-- <a href="#"><i class="fa fa-youtube-square fa-2x"></i></a> -->
      <!-- <a href="#"><i class="fa fa-spotify fa-2x"></i></a> -->
    </div>
  </div>
