<div id="musicMain" ng-controller="HomeController" class="col-md-12 col-sm-12">
  <div id="main">

  <div id="banner" class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">

          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span>
 <span class="icon-bar"></span>
 <span class="icon-bar"></span>
 <span class="icon-bar"></span>
          </button>

<!--           <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button> -->
        </div>

        <div id="navLeft" class="col-md-8 col-sm-8">
          <a id="bannerA"><h1 id="bannerText" font-family="Majesti-Banner-Medium">COSTELLO</h1></a>
        </div>

        <div class="collapse navbar-collapse col-md-4 col-sm-4" id="bannerLinks">
            <ul class="nav navbar-nav">
              <li><a class="bannerLinks" href="http://www.costellobandok.bandcamp.com">Bandcamp</a></li>
              <li><a class="bannerLinks" href="http://costellobandok.github.io/#!/about">About</a></li>
              <!-- <li><a class="bannerLinks" href="http://localhost:8000/#!/images">Images</a></li> -->
              <li><a class="bannerLinks" href="http://costellobandok.github.io/#!/contact">Contact</a></li>
            </ul>
        </div>
      </div>
    </div>
    <div id="mainBody" class="col-md-12 col-sm-12">
      <div id="mainContent" class="col-md-12 col-sm-12">

        <div id="shows" class="col-md-6 col-sm-6">
          <h2 class="titles"style="color:#bfbfbf;">Upcoming Shows:</h2>
          <p style="color:#bfbfbf;">
            <p class="date">Friday 11/13</p><p>The Deli - Norman, OK</p>
            <p>(with Tallows and the Daddyo's)</p><br>

            <p class="date">Saturday 11/21</p><p>Soundpony - Tulsa, OK</p>
            <p>(with the Plain Speak, the Gomes, and Ramona & the Phantoms)</p><br>

            <p class="date">Saturday 11/28</p><p>Blue Note - OKC, OK</p>
            <p>(with Em & the MotherSuperiors and Trap Queen)</p><br>
          </p>
        </div>

        <div class="col-md-6 col-sm-6">
          <center><img id="mainImg" src="../img/bandBW.JPG"></center>
        </div>

      </div>
    </div>
  </div>


  <div id="footer" class="col-md-12 navbar navbar-inverse navbar-fixed-bottom">
    <div class="col-md-3 col-sm-3 col-xs-3" id="footerLeft">
      <a href="http://www.rileyjoseph.co">
        <img id="rjLogo" alt="Brand" src="../img/rjLogo.png">
      </a>
    </div>
    <div class="col-md-6">
    </div>
    <div class="col-md-3">
      <a href="http://www.facebook.com/costellobandok"><i class="fa fa-facebook-square fa-2x"></i></a>
      <!-- <a href="#"><i class="fa fa-instagram-square fa-2x"></i></a> -->
      <a href="http://www.twitter.com/costellobandok"><i class="fa fa-twitter-square fa-2x"></i></a>
      <!-- <a href="#"><i class="fa fa-youtube-square fa-2x"></i></a> -->
      <!-- <a href="#"><i class="fa fa-spotify fa-2x"></i></a> -->
    </div>
  </div>


</div>
