<div id="musicBackground" ng-controller="HomeController">
  <div id="musicTitleBar">
        <p id="musicTitle2"><span style="letter-spacing:0;"></span></p>
  </div>

  <div id="sideBar">
    <center>
    <a href="http://www.facebook.com/costellobandok"><i class="fa fa-facebook-square fa-3x"></i></a><br>
    <a href="https://instagram.com/costellotheband"><i class="fa fa-instagram fa-3x"></i></a><br>
    <a href="http://www.twitter.com/costellobandok"><i class="fa fa-twitter-square fa-3x"></i></a><br>
    <!-- <a href="#"><i class="fa fa-youtube-square fa-3x"></i></a><br> -->
    <a href="https://open.spotify.com/artist/4wJW3tvY1lVxNxCh7J5T8Y"><i class="fa fa-spotify fa-3x"></i></a><br>
    <!-- <a href="#"><i class="fa fa-soundcloud fa-3x"></i></a><br> -->
    </center>
  </div>
  <!-- Landing - New Ablum Cover, Links -->
  <div id="album">
    <img id="musicAlbum" src="../img/conscioustrip.png">
    <div class="mainLinks">
      <a class="links" href="http://www.costellobandok.bandcamp.com">Bandcamp</a>
      <a class="links" href="/#!/about">About</a>
      <a class="links" href="/#!/contact">Contact</a>
      <a class="links" href="/#!/gallery">Gallery</a>
    </div>
<!--     <div class="textCenter">
      <a href="#aboutSection">
        <p>
          <i id="center" class="fa fa-angle-double-down" aria-hidden="true"></i>
        </p>
      </a>
    </div> -->
  </div>
</div>


<div id="footer" class="col-md-12 navbar navbar-inverse navbar-fixed-bottom">
  <div class="col-md-3 col-sm-3 col-xs-3" id="footerLeft">
    <a style="color:#323232;" href="http://www.rileyjoseph.co">
      Website by Riley Joseph
    </a>
  </div>
  <div id="copywrite" style="color:#bfbfbf" class="col-md-6 col-sm-6 col-xs-6">
    <center>Copyright &copy; Costello 2015</center>
  </div>
  <div class="col-md-3">
    <a href="http://www.facebook.com/costellobandok"><i class="fa fa-facebook-square fa-2x"></i></a>
    <a href="https://instagram.com/costellotheband"><i class="fa fa-instagram fa-2x"></i></a>
    <a href="http://www.twitter.com/costellobandok"><i class="fa fa-twitter-square fa-2x"></i></a>
    <a href="https://open.spotify.com/artist/4wJW3tvY1lVxNxCh7J5T8Y"><i class="fa fa-spotify fa-2x"></i></a>
    <!-- <a href="#"><i class="fa fa-youtube-square fa-2x"></i></a> -->
    <!-- <a href="#"><i class="fa fa-spotify fa-2x"></i></a> -->
  </div>
</div>
