<div id="musicBackground" ng-controller="HomeController">
  <div id="musicTitleBar">
        <p id="musicTitle2"><span style="letter-spacing:0;"></span></p>
  </div>

  <div id="sideBar">
    <center>
    <a href="http://www.facebook.com/costellobandok"><i class="fa fa-facebook-square fa-3x"></i></a><br>
    <a href="https://instagram.com/costellotheband"><i class="fa fa-instagram fa-3x"></i></a><br>
    <a href="http://www.twitter.com/costellobandok"><i class="fa fa-twitter-square fa-3x"></i></a><br>
    <!-- <a href="#"><i class="fa fa-youtube-square fa-3x"></i></a><br> -->
    <a href="https://open.spotify.com/artist/4wJW3tvY1lVxNxCh7J5T8Y"><i class="fa fa-spotify fa-3x"></i></a><br>
    <!-- <a href="#"><i class="fa fa-soundcloud fa-3x"></i></a><br> -->
    </center>
  </div>
  <!-- Landing - New Ablum Cover, Links -->
  <div id="album" class="container">
    <img id="musicAlbum" src="../img/conscioustrip.png">
    <div class="mainLinks">
      <a class="links" href="http://www.costellobandok.bandcamp.com">Bandcamp</a>
      <a class="links" href="#aboutSection">About</a>
      <a class="links" href="#contactSection">Contact</a>
    </div>
    <div class="textCenter">
      <a href="#singleSection">
        <p>
          <i id="center" class="fa fa-angle-double-down" aria-hidden="true"></i>
        </p>
      </a>
    </div>
  </div>
  <!-- First section, embedded single and twitter -->
<!--   <div id="singleSection" class="col-md-12 col-sm-12">
      <iframe src="https://bandcamp.com/EmbeddedPlayer/track=2857271124/size=large/bgcol=ffffff/linkcol=333333/tracklist=false/transparent=true/" seamless><a href="http://costellobandok.bandcamp.com/track/murdoch">Murdoch by Costello</a></iframe>
  </div> -->
  <!-- Section 1 - About -->
  <div id="aboutSection" class="col-md-12 col-sm-12">
    <div id="aboutTitle" class="col-md-12 col-sm-12">
        <h1>About the Band</h1>
    </div>
    <div id="mainBody" class="col-md-12 col-sm-12">
      <div class="col-md-6 col-sm-6">
        <img id="aboutImg" src="../img/about.jpg">
      </div>
      <div id="about" class="col-md-5 col-sm-5">
        <p><i>Clare Costello</i> - Guitarist, vocalist and lyricist</p>
        <p><i>Felix Rodriguez</i> (Surf Minus Surf, Plain Speak) - Bassist</p>
        <p><i>Matt Duckworth</i> (The Flaming Lips) - Drummer</p><br>
        <p>
            Costello is a psych/blues rock group from Norman, OK. In fall of 2016 they reunited with engineers Sam Welchel and Chad Copelin of Blackwatch Studios to record their sophomore album, “Conscious Trip.” The band consists of:</p>
        <p><br>
          The same crew, with a different drummer (Jason Scott) recorded their debut album “Manifest” in summer of 2015. Dan Millice of Engine Room audio mastered both albums.
        </p><br>
      </div>
      <div class="col-md-2 col-sm-2">
      </div>
    </div>
  </div>

</div>
<div id="contactSection" class="col-md-12 col-sm-12">
  <div id="contactTitle" class="col-md-12 col-sm-12">
      <h1>Contact</h1>
  </div>
  <div id="contactBody" class="col-md-12" style="color:white;">
    <div class="col-md-2">
    </div>
    <div id="contact" class="col-md-8">
      <div class="col-md-6">
        <img id="contactImg" src="../img/ccFgarage2.jpg">
      </div>
      <div id="contactContent" class="col-md-6">
        <p>
          Booking: <br>
          costellobandok@gmail.com<br><br>
        </p>
        <p class="textRight">
          Recording/Production: <br>
          info@blackwatchstudios.com<br><br>
        </p>
        <p>
          Social: <br>
          facebook.com/costellobandok<br>
          instagram.com/costellotheband<br>
          twitter.com/costellobandok<br><br>
        </p>
        <p  class="textRight">
          Website: <br>
          riley.m.joseph1@gmail.com <br><br>
        </p>
      </div>
    </div>
    <div class="col-md-2">
    </div>
  </div>
  </div>
  <div id="footer" class="col-md-12 navbar navbar-inverse navbar-fixed-bottom">
    <div class="col-md-3 col-sm-3 col-xs-3" id="footerLeft">
      <a style="color:#323232;" href="http://www.rileyjoseph.co">
        Website by Riley Joseph
      </a>
    </div>
    <div id="copywrite" style="color:#bfbfbf" class="col-md-6 col-sm-6 col-xs-6">
      <center>Copyright &copy; Costello 2015</center>
    </div>
    <div class="col-md-3">
      <a href="http://www.facebook.com/costellobandok"><i class="fa fa-facebook-square fa-2x"></i></a>
      <a href="https://instagram.com/costellotheband"><i class="fa fa-instagram fa-2x"></i></a>
      <a href="http://www.twitter.com/costellobandok"><i class="fa fa-twitter-square fa-2x"></i></a>
      <!-- <a href="#"><i class="fa fa-youtube-square fa-2x"></i></a> -->
      <!-- <a href="#"><i class="fa fa-spotify fa-2x"></i></a> -->
    </div>
  </div>
