<div id="musicBackground" ng-controller="HomeController">
  <div id="musicTitleBar">
        <!-- <p id="musicTitle">Costell<span style="letter-spacing:0;">o</span></p> -->
        <p id="musicTitle2"> Manifes<span style="letter-spacing:0;">t</span></p>

  </div>

  <div id="sideBar">
    <center>
    <a href="#"><i class="fa fa-facebook-square fa-3x"></i></a><br>
    <a href="#"><i class="fa fa-instagram-square fa-3x"></i></a><br>
    <a href="#"><i class="fa fa-twitter-square fa-3x"></i></a><br>
    <a href="#"><i class="fa fa-youtube-square fa-3x"></i></a><br>
    <a href="#"><i class="fa fa-spotify fa-3x"></i></a><br>
    <a href="#"><i class="fa fa-soundcloud fa-3x"></i></a><br>
    </center>
  </div>

  <div id="album" class="container">
    <img id="musicAlbum" src="../img/manifestArt.png">
  </div>

<!--   <p id="availableNow2">Continue to Site<a id="albumLink" href="#!albumPage">Here</a>!</p>
 -->
</div>
</div>
